.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.min-80-percent {
  min-height: 80%;
}

.min-90-percent-width {
  min-width: 90%;
}

.width-90-percent {
  width: 90%;
}

.width-80-percent {
  width: 80%;
}

.width-60-percent {
  width: 60%;
}

.width-30-percent {
  width: 30%;
}

.width-20-percent {
  width: 20%;
}

.min-width-20-percent {
  min-width: 20%;
  max-width: 400px;
}

.margin {
  margin:2%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items:flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

.fullHeight {
  height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}


.text-center {
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

.space-top {
  margin-top: 2%;
}


.text-sm {
  font-size: 0.875rem;
  line-height: 25px;
}

.text-md {
  font-size: 1rem;
  line-height: 25px;
}

.text-xl {
  font-size: 2rem;
}


.pad-left {
  padding-left: 2%;
}

.pad-right {
  padding-right: 2%;
}


.text-gray {
  color: #6b7280;
}

.relative {
  position: relative;
}

.font-medium {
  font-weight: 500;
}

.justify-between {
  justify-content: space-between;
}

.border-gray-300 {
  border-color: #D1D5DB;
}

.rounded {
  border-radius: 0.25rem;
}

.align-text-right {
  text-align: right !important;
}

.justify-end {
  justify-content: end;
}

.padding-35-percent {
  padding-right: 35%!important;
  padding-left: 35%!important;
}

.icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 9999px;
  background-color: #e5e7eb;
}

  .dark-color {
    color: var(--primary);
  }

.bg-light {
  background-color: white;
}

.height-40-percent {
  height: 40%;
}

.lined-paper {
  background-color: white; /* light paper-like color */
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 24px,
    #d6ccc2 25px /* thin line every 25px */
  );
  line-height: 25px;
  padding: 1rem;
  font-family: 'Courier New', monospace;
  border: 1px solid #ccc;
  min-height: 300px;
}

.min-h-full {
  min-height: 100%;
}

.bg-transparent {
    background-color: transparent;
}

.outline-none {
  outline: none;
}

.pad-8 {
  padding: 8px;
}

.pad-top {
  padding-top: 20px!important;
}

.pad-bottom{
 padding-bottom: 20px!important; 
}

.border-none {
  border:none;
}

.resize-none {
  resize: none;
}

.min-300-px {
  min-width: 300px;
}

.min-200-px {
  min-width: 200px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-size-min-300 {
      flex: 1 1 300px;
}

.flex-size-min-200 {
      flex: 1 1 200px;
}